<!DOCTYPE HTML>
<html lang="zh-TW">
<head>
{% block head -%}
<meta charset="UTF-8">
<title>{% block title %}{{ site.title }}{% endblock %}</title>
<meta name="description" content="{% block description %}{{ site.desc }}{% endblock %}" />

{{ site.favicon }}
{% block css_link -%}
{{ link_css('bootstrap') }}
{{ link_css('main') }}
{%- endblock %}
{% block style -%}{%- endblock %}
{% block js_link -%}
{{ link_ex_js('jQuery') }}
{%- endblock %}
{% block script -%}{%- endblock %}
{%- endblock head %}
</head>
<body>
{% block body -%}
{% include "inc/navbar.html" %}
<div class="container">
{% block content %}{% endblock %}
{% include "inc/footer.html" %}
</div>
{%- endblock body %}
{% block js_bottom -%}
{{ link_js('bootstrap') }}
{%- endblock js_bottom %}
</body>
</html>