<!DOCTYPE HTML>
<html lang="zh-TW">
<head>
{% block head -%}
<meta charset="UTF-8">
<title>{% block title %}Map Editor{% endblock %}</title>
<meta name="description" content="{% block description %}{% endblock %}" />

<link rel="shortcut icon" href="http://google.com/favicon.ico" />
{% block css_link -%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block style %}
{% endblock style %}
{% block js_link -%}
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
{% endblock %}
{% block script %}{% endblock %}
{%- endblock head %}
</head>
<body>
{% block body -%}
<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="/">上古捲軸六</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li class="active">
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#about">About</a>
							</li>
							<li>
								<a href="#contact">Contact</a>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
<div class="container">
{% block content %}{% endblock %}
<hr>
<footer>
        <p>&copy; Company 2012</p>
</footer>
</div>

{%- endblock body %}
{%- block js_bottom %}
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock js_bottom %}
</body>
</html>